# 判断文件是否存在

In [1]:
import os
os.path.isfile("file/2064.csv")

True

In [2]:
import os
os.path.isfile("file/notExist.csv")

False

# 读文件

In [4]:
import pandas as pd
pd.read_csv("file/2064.csv")

                                 id           attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c    2745 215 2064 785 78
1  c4eb75aa15a1d33de92892b23cc6a91a  2973 2830 341 2064 785

# 计算样本数

In [6]:
data = pd.read_csv("file/2064.csv")
data.shape[0]

2

# 取第i行第j列，取出为字符串

In [1]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.iloc[0,0]

'5ce6c26d0102df314251bf8b64b4511c'

In [2]:
data.iloc[0,1]

'2745 215 2064 785 78'

In [3]:
data.iloc[1,0]

'c4eb75aa15a1d33de92892b23cc6a91a'

In [4]:
data.iloc[1,1]

'2973 2830 341 2064 785'

# 取某一列某一行

In [1]:
import pandas as pd
df = pd.read_csv("file/2064.csv")
df['id'].values[0]

'5ce6c26d0102df314251bf8b64b4511c'

# 取某一行数据

In [5]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.loc[1]

id               c4eb75aa15a1d33de92892b23cc6a91a
attribute_ids              2973 2830 341 2064 785
Name: 1, dtype: object

In [6]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.loc[5]  # 这一行不存在会报错

KeyError: 5

In [2]:
# 读一行数据的另一种写法
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.values[1]

array(['c4eb75aa15a1d33de92892b23cc6a91a', '2973 2830 341 2064 785'],
      dtype=object)

# 修改某一行数据

In [8]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.loc[1] = '1'  # 这一行不存在会报错
data

                                 id         attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c  2745 215 2064 785 78
1                                 1                     1

In [10]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.loc[5] = '5'  # 这一行不存在不会报错
data

                                 id           attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c    2745 215 2064 785 78
1  c4eb75aa15a1d33de92892b23cc6a91a  2973 2830 341 2064 785
5                                 5                       5

# 取部分数据

In [4]:
import pandas as pd
data = pd.read_csv("file/3167.csv")
data = data[5:8]
data

                                 id                attribute_ids
5  0950d051d25eaf84c6f9dc924ce704d3   2808 3167 3078 1639 784 23
6  0b540dd3d2ddc36a622c0eb51d544e38  2997 3167 233 1796 2299 783
7  0d7f2cb4ed74b19e84ec338d8c50cb65       2997 3167 233 1837 784

# 创建一个空的dataframe

In [2]:
import pandas as pd
pd.DataFrame(columns={'index'})

Empty DataFrame
Columns: [index]
Index: []

# 创建一个空的dataframe，并放入数据

In [3]:
import pandas as pd
pd.DataFrame(columns={'index':[1,2,3,4]})   # 带columns数据就存不进去，不知道为什么

Empty DataFrame
Columns: [index]
Index: []

In [4]:
import pandas as pd
pd.DataFrame({'index':[1,2,3,4]})   # 带columns数据就存不进去，不知道为什么

   index
0      1
1      2
2      3
3      4

# 修改某一列数据

In [3]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data

                                 id           attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c    2745 215 2064 785 78
1  c4eb75aa15a1d33de92892b23cc6a91a  2973 2830 341 2064 785

In [5]:
data['attribute_ids'] = '5'
data

                                 id attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c             5
1  c4eb75aa15a1d33de92892b23cc6a91a             5

In [6]:
data['attribute_ids'] = ['111','222']
data

                                 id attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c           111
1  c4eb75aa15a1d33de92892b23cc6a91a           222

# 显示前几行数据

In [1]:
import pandas as pd
data = pd.read_csv("file/3167.csv")
data.head()

                                 id                         attribute_ids
0  003e72ac4c13dfd305a20e1acbf58012          3465 2987 3170 3167 1284 784
1  007e9a66bfa6814576b6a75c2832a5af  3465 3270 3066 3167 341 946 1061 782
2  03fcf4b855fd4c44568b5d049fb7cee2                     2804 3167 233 783
3  05b5af545fb8ff7524b056ae65dbc47d               3274 3167 1865 2635 785
4  075d55c078087ef7b0bd6628241f830e      2932 3170 3167 307 1138 1698 782

# pandas数据解析

In [9]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data['attribute_ids']
#for classes in data['attribute_ids'].str.split():
#    print (classes)

0      2745 215 2064 785 78
1    2973 2830 341 2064 785
Name: attribute_ids, dtype: object

In [10]:
data['attribute_ids'].str.split()

0      [2745, 215, 2064, 785, 78]
1    [2973, 2830, 341, 2064, 785]
Name: attribute_ids, dtype: object

In [11]:
for classes in data['attribute_ids'].str.split():
    print (classes)

['2745', '215', '2064', '785', '78']
['2973', '2830', '341', '2064', '785']

# 随机取样  

https://blog.csdn.net/zhengxu25689/article/details/87347700

In [14]:
import pandas as pd
data = pd.read_csv("file/3167.csv")
data.sample(n=3,random_state=1)   # 随机取3行，random_state为随机种子

                                  id                      attribute_ids
94  cbe3b55d472210817e8457b9a33ba773  2902 3270 3170 3167 2362 1405 783
44  51dd43e22e582eaba73153b376e3ad69           3430 3270 3127 3167 1621
56  7071e7e03c2ed2d10de4c948c5a74684             3167 233 1449 2299 781

In [17]:
import pandas as pd
data = pd.read_csv("file/3167.csv")
data.sample(frac=0.02,random_state=1)   # 随机总数的0.02，random_state为随机种子

                                  id                      attribute_ids
94  cbe3b55d472210817e8457b9a33ba773  2902 3270 3170 3167 2362 1405 783
44  51dd43e22e582eaba73153b376e3ad69           3430 3270 3127 3167 1621