In [1]:
import pandas as pd
import numpy as np

In [3]:
dates = pd.date_range('20200731', periods=6)
df = pd.DataFrame(np.random.randn(6,4),
                  index = dates, # 列索引
                  columns = ['a', 'b','c', 'd']) # 行索引
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan

In [5]:
df  # NAN为丢失的数据

                   a         b         c         d
2020-07-31  0.587994       NaN  1.847835 -0.469151
2020-08-01  0.333378  0.495154       NaN  0.129092
2020-08-02  0.245048  0.079800  0.299207 -0.120899
2020-08-03 -0.947855  0.032060  0.769018  0.906137
2020-08-04  0.615286  0.360310  1.177011 -0.593868
2020-08-05 -0.070682 -0.670453 -2.204943 -0.434558

# 丢掉整/列

In [7]:
# axis = 0: 按行丢弃
# how = 'any': 有任意一列的数据为NAN就丢掉
df.dropna(axis=0, how='any')

                   a         b         c         d
2020-08-02  0.245048  0.079800  0.299207 -0.120899
2020-08-03 -0.947855  0.032060  0.769018  0.906137
2020-08-04  0.615286  0.360310  1.177011 -0.593868
2020-08-05 -0.070682 -0.670453 -2.204943 -0.434558

In [8]:
# axis = 0: 按行丢弃
# how = 'all': 所有列的数据为NAN才丢掉
df.dropna(axis=0, how='all')

                   a         b         c         d
2020-07-31  0.587994       NaN  1.847835 -0.469151
2020-08-01  0.333378  0.495154       NaN  0.129092
2020-08-02  0.245048  0.079800  0.299207 -0.120899
2020-08-03 -0.947855  0.032060  0.769018  0.906137
2020-08-04  0.615286  0.360310  1.177011 -0.593868
2020-08-05 -0.070682 -0.670453 -2.204943 -0.434558

# 填充

In [9]:
df.fillna(value = 1)

                   a         b         c         d
2020-07-31  0.587994  1.000000  1.847835 -0.469151
2020-08-01  0.333378  0.495154  1.000000  0.129092
2020-08-02  0.245048  0.079800  0.299207 -0.120899
2020-08-03 -0.947855  0.032060  0.769018  0.906137
2020-08-04  0.615286  0.360310  1.177011 -0.593868
2020-08-05 -0.070682 -0.670453 -2.204943 -0.434558

# 判断是否有数据丢失

In [10]:
df.isnull()

                a      b      c      d
2020-07-31  False   True  False  False
2020-08-01  False  False   True  False
2020-08-02  False  False  False  False
2020-08-03  False  False  False  False
2020-08-04  False  False  False  False
2020-08-05  False  False  False  False

In [11]:
np.any(df.isnull())

True