In [9]:
import pandas as pd
import numpy as np

In [10]:
dates = pd.date_range('20200731', periods=6)
df = pd.DataFrame(np.arange(24).reshape(6, 4),
                  index = dates, # 列索引
                  columns = ['a', 'b','c', 'd']) # 行索引

# 当数组用

In [11]:
df['a']

2020-07-31     0
2020-08-01     4
2020-08-02     8
2020-08-03    12
2020-08-04    16
2020-08-05    20
Freq: D, Name: a, dtype: int32

In [12]:
df.a

2020-07-31     0
2020-08-01     4
2020-08-02     8
2020-08-03    12
2020-08-04    16
2020-08-05    20
Freq: D, Name: a, dtype: int32

In [13]:
df[0:3]

            a  b   c   d
2020-07-31  0  1   2   3
2020-08-01  4  5   6   7
2020-08-02  8  9  10  11

In [14]:
df['20200731':'20200802']

            a  b   c   d
2020-07-31  0  1   2   3
2020-08-01  4  5   6   7
2020-08-02  8  9  10  11

# by label

In [15]:
df.loc['20200731']

a    0
b    1
c    2
d    3
Name: 2020-07-31 00:00:00, dtype: int32

In [16]:
df.loc[:,['a', 'b']]

             a   b
2020-07-31   0   1
2020-08-01   4   5
2020-08-02   8   9
2020-08-03  12  13
2020-08-04  16  17
2020-08-05  20  21

In [17]:
df.loc['20200731',['a', 'b']]

a    0
b    1
Name: 2020-07-31 00:00:00, dtype: int32

# by position

In [18]:
df.iloc[3]

a    12
b    13
c    14
d    15
Name: 2020-08-03 00:00:00, dtype: int32

In [19]:
df.iloc[3,1]

13

In [20]:
df.iloc[3:5, 1:3]

             b   c
2020-08-03  13  14
2020-08-04  17  18

In [21]:
df.iloc[[1,3,5], 1:3]

             b   c
2020-08-01   5   6
2020-08-03  13  14
2020-08-05  21  22

# mixed selection

In [22]:
df.ix[:3, ['a','c']]

C:\Users\yinahe\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

            a   c
2020-07-31  0   2
2020-08-01  4   6
2020-08-02  8  10

# Boolean Indexing

In [23]:
df[df.a > 8]

             a   b   c   d
2020-08-03  12  13  14  15
2020-08-04  16  17  18  19
2020-08-05  20  21  22  23