# 修改某一行数据

In [8]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.loc[1] = '1'  # 这一行不存在会报错
data

                                 id         attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c  2745 215 2064 785 78
1                                 1                     1

In [10]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.loc[5] = '5'  # 这一行不存在不会报错
data

                                 id           attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c    2745 215 2064 785 78
1  c4eb75aa15a1d33de92892b23cc6a91a  2973 2830 341 2064 785
5                                 5                       5

In [2]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data.loc[4] = ['5','6']  # 这一行不存在不会报错
data

                                 id           attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c    2745 215 2064 785 78
1  c4eb75aa15a1d33de92892b23cc6a91a  2973 2830 341 2064 785
4                                 5                       6

# 创建一个空的dataframe

In [2]:
import pandas as pd
pd.DataFrame(columns={'index'})

Empty DataFrame
Columns: [index]
Index: []

# 创建一个空的dataframe，并放入数据

In [3]:
import pandas as pd
pd.DataFrame(columns={'index':[1,2,3,4]})   # 带columns数据就存不进去，不知道为什么

Empty DataFrame
Columns: [index]
Index: []

In [4]:
import pandas as pd
pd.DataFrame({'index':[1,2,3,4]})   # 带columns数据就存不进去，不知道为什么

   index
0      1
1      2
2      3
3      4

# 修改某一列数据

In [3]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data

                                 id           attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c    2745 215 2064 785 78
1  c4eb75aa15a1d33de92892b23cc6a91a  2973 2830 341 2064 785

In [5]:
data['attribute_ids'] = '5'
data

                                 id attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c             5
1  c4eb75aa15a1d33de92892b23cc6a91a             5

In [6]:
data['attribute_ids'] = ['111','222']
data

                                 id attribute_ids
0  5ce6c26d0102df314251bf8b64b4511c           111
1  c4eb75aa15a1d33de92892b23cc6a91a           222

# 新加一列

In [1]:
import pandas as pd
data = pd.read_csv("file/2064.csv")
data['E'] = pd.Series([10,100],index = [0,1])
data

                                 id           attribute_ids    E
0  5ce6c26d0102df314251bf8b64b4511c    2745 215 2064 785 78   10
1  c4eb75aa15a1d33de92892b23cc6a91a  2973 2830 341 2064 785  100